html {
  width: 450px;
  height: fit-content;
  margin: 0;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
}

body {
  background-image: linear-gradient(
    140deg,
    var(--bs-primary),
    var(--bs-secondary)
  );
}

p {
  font-size: 18px;
}
